# Example Traefik hosts file
# Copy this file to traefik-hosts.yaml and edit it to add your hosts
# Replace "example.com" with your domain in two places

# Example Traefik hosts file
# Copy this file to traefik-hosts.yaml and edit it to add your hosts
# Replace "example.com" with your domain in two places

http:
  services:
    litellm:
      loadBalancer:
        servers:
        - url: http://litellm:4000
    qdrant:
      loadBalancer:
        servers:
        - url: http://qdrant:6333
    guardrails:
      loadBalancer:
        servers:
        - url: http://guardrails:8000
  routers:
    litellm:
      rule: Host(`llm.example.com`)
      service: litellm
      middlewares:
        - litellm
    qdrant:
      rule: Host(`rag.example.com`)
      service: qdrant
      middlewares:
        - qdrant
    guardrails:
      rule: Host(`guard.example.com`)
      service: guardrails
      middlewares:
        - guardrails
  middlewares:
    litellm:
      # Add some security headers
      headers:
        SSLHost: llm.example.com
        SSLRedirect: true
        STSSeconds: 315360000
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSIncludeSubdomains: true
        STSPreload: true
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    qdrant:
      # Add some security headers
      headers:
        SSLHost: rag.example.com
        SSLRedirect: true
        STSSeconds: 315360000
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSIncludeSubdomains: true
        STSPreload: true
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    guardrails:
      # Add some security headers
      headers:
        SSLHost: guard.example.com
        SSLRedirect: true
        STSSeconds: 315360000
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSIncludeSubdomains: true
        STSPreload: true
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https