# Example Traefik hosts file
# Copy this file to traefik-hosts.yaml and edit it to add your hosts
# Replace "example.com" with your domain in two places

http:
  services:
    litellm:
      loadBalancer:
        servers:
        - url: http://litellm:4000
    litellm-pgvector:
      loadBalancer:
        servers:
        - url: http://litellm-pgvector:4001
  routers:
    litellm:
      rule: Host(`llm.example.com`)
      service: litellm
      middlewares:
        - litellm
    litellm-pgvector:
      rule: Host(`rag.example.com`)
      service: litellm-pgvector
      middlewares:
        - litellm-pgvector
  middlewares:
    litellm:
      # Add some security headers
      headers:
        SSLHost: llm.example.com
        SSLRedirect: true
        STSSeconds: 315360000
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSIncludeSubdomains: true
        STSPreload: true
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    litellm-pgvector:
      # Add some security headers
      headers:
        SSLHost: rag.example.com
        SSLRedirect: true
        STSSeconds: 315360000
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSIncludeSubdomains: true
        STSPreload: true
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https