[Unit]
Description=Traefik Reverse Proxy
After=cloudflared.network traefik.network podman.socket
Requires=cloudflared.network traefik.network podman.socket

[Container]
Image=docker.io/traefik:v3.4.3
ContainerName=traefik

UserNS=keep-id
GroupAdd=keep-groups
NoNewPrivileges=true
ReadOnly=true

# See https://github.com/eriksjolund/podman-traefik-socket-activation
SecurityLabelDisable=true
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

Network=cloudflared.network
Network=traefik.network

Notify=true

Volume=%h/.config/containers/systemd/conf/traefik.yaml:/etc/traefik/traefik.yml:Z
Volume=%h/.config/containers/systemd/conf/traefik-hosts.yaml:/hosts.yaml:Z

# Socket activation configuration - HTTP only since cloudflared handles HTTPS
Exec=--entrypoints.web --providers.docker --providers.docker.exposedbydefault=false

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
